.container {
  display: block;

  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: url("https://i.pinimg.com/originals/d0/e0/e2/d0e0e259bf0aba4da742bedff1d4b8a5.gif");
  /* background-repeat: no-repeat; */
  /* Baja con la slide-bar: */
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;

}

.container input {


  cursor: pointer;

}

.checkmark {

  height: 25px;
  width: 25px;
  background-color: #eee;
}