.parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* Para que los divs no ocupen mas lugar del necesario: */
  grid-template-rows: fit-content(8ch) fit-content(8ch) 5fr;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  background-image: url("https://i.pinimg.com/originals/d0/e0/e2/d0e0e259bf0aba4da742bedff1d4b8a5.gif");
  /* background-repeat: no-repeat; */
  /* Baja con la slide-bar: */
  background-attachment: fixed;
  background-size: cover;
}

.postVideogame {
  height: 50px;
  width: auto;
}

.reload {
  font-family: Lucida Sans Unicode;
  height: 100px;
  width: auto;
}

.title {
  color: goldenrod;
}

.navBar {
  grid-area: 1 / 1 / 2 / 4;
  /* ? */
  table-layout: fixed;
}

.mainVideogame {
  grid-area: 2 / 1 / 4 / 3;
  height: fit-content;
  width: fit-content;
  align-content: bottom;
}


.sideVideogames {
  grid-area: 2 / 3 / 4 / 4;
  height: 50%;
  width: auto;
  max-width: 100%;
}


.joker {
  grid-area: 4 / 1 / 5 / 4;
}

.videogames {
  grid-area: 5 / 1 / 6 / 4;
  /* Pone uno al lado del otro: */
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  grid-template-rows: repeat(4, 1fr);

  grid-column-gap: 5%;
  width: 90%;
  height: auto;

  justify-self: center;
  /* border: 3px solid; */
}

.videogames img {
  max-height: 470px;


}

/* .videogames {
  grid-area: 5 / 1 / 6 / 4;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  grid-template-rows: repeat(4, 1fr);

  grid-column-gap: 5%;
  grid-row-gap: 5%;
  width: 90%;
  height: auto;

  justify-self: center;

  margin-bottom: 30px;
} */



/* TODO:
.parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  Para que los divs no ocupen mas lugar del necesario: 
  grid-template-rows: fit-content(8ch) fit-content(8ch) 5fr;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  background-image: url("https://i.pinimg.com/originals/d0/e0/e2/d0e0e259bf0aba4da742bedff1d4b8a5.gif");
   background-repeat: no-repeat;
  Baja con la slide-bar: 
  background-attachment: fixed;
  background-size: cover;
}

.postVideogame {
  height: 50px;
  width: auto;
}

.reload {
  font-family: Lucida Sans Unicode;
  height: 100px;
  width: auto;
}

.title {
  color: goldenrod;
}

.navBar {
  grid-area: 1 / 1 / 2 / 4;
   ? 
  table-layout: fixed;
}

.mainVideogame {
  grid-area: 2 / 1 / 4 / 3;
  height: fit-content;
  width: fit-content;
  align-content: bottom;
}


.sideVideogames {
  grid-area: 2 / 3 / 4 / 4;
  height: 50%;
  width: auto;
  max-width: 100%;
}


.joker {
  grid-area: 4 / 1 / 5 / 4;
}

.videogames {
  grid-area: 5 / 1 / 6 / 4;
   Pone uno al lado del otro: 
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  grid-template-rows: repeat(4, 1fr);

  grid-column-gap: 5%;
  width: 90%;
  height: auto;

  justify-self: center;
   border: 3px solid;
}

.videogames img {
  max-height: 470px;


}
*/